html {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

body {
  padding-top: 2rem;
  padding-bottom: 40px;
}

.column.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column.has-vertically-aligned-content.left {
  align-items: initial !important;
}
.columns {
  max-width: 100%;
  margin-left: 0;
}
.container-list .box {
  position: relative;
  display: inline-block;
  box-shadow: none;
}
.container-list .box img {
  width: 256px;
  max-width: 100%;
  border-radius: 10px;
}
.container-list .box p {
  font-size: 20px;
  color: black;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.navbar {
  background-color: #ECEFF1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);

}
.navbar-link::after {
  border-color: black;
}
.navbar-burger span {
  color: black;
}
.navbar-item.right {
  margin-left: auto;
  margin-right: 0;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}