.column.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column.has-vertically-aligned-content.left {
  align-items: initial !important;
}
.columns {
  max-width: 100%;
  margin-left: 0;
}
